*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{ text-align: center;}

.main{
    display: flex;
    justify-content: center;
}

form{
    border-radius: 25px;
    padding: 10px ;
    width: 35   0px;
    background-image: linear-gradient(45deg ,rgba(53, 52, 52, 0.6),rgba(44, 43, 43, 0.7),rgba(7, 5, 5, 0.8));
}

.btn,#maintext{
    padding: 20px;
}

#maintext{
    width: 300px;
    border-radius: 20px;
    background-color: lightgreen;
    font-size: 20px;
    text-align: right;
    outline: none;
}

.btn{
    width: 70px;
    height: 70px;
    font: 2em sans-serif;
    border-radius: 50px;
    outline: none;
    margin: 5px;
    box-shadow: 0px 0px 10px black;
}

.clearall{
    width: 280px;
}